

/*
img {
	height: 300px;
	background-size: cover;
	background-position: center;
}
*/


/*
img{
	position: relative;
	width: auto;
	max-width: 4000px;
	height: auto;
	max-height: 550px;
	background-size: cover;
	background-attachment:scroll;
}*/



/*
h2 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
}

/*
<img src="faq.png" style = "width:100%">*/

#Background {
	background-image: url("faq.png");
	background-repeat: no-repeat;
	position: relative;
	width: auto;
	max-width: 4000px;
	height: auto;
	max-height: 600px;
	background-size: cover;  /* scale background image to be large as possible*/
	background-attachment: local;
	filter: grayscale(100%); /* ??? */

}


img {
	opacity: 0.5;
}



h2 {
	padding: 200px;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	text-align: center;
	color: white;
    font-size: 60px; /* change font of title*/
    font-weight: 100; 
    letter-spacing: 20px;
    text-align: center;
}

body {
	margin:0px;
}

#faq-text {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    margin: 20px;
    -webkit-column-width: 150px; /* Chrome, Safari, Opera */
    column-width: 150px;
}


h1 {
	font-family: "Proxima Nova Light", Helvetica, sans-serif;
	font-weight: 200;
}













